@media (max-width: 1280px) {
    .container {
        max-width: 1190px;
    }
    .logo {
        color: $logo-text-color;
        text-align: left;
        &__title {
            font-size: 20px;
            line-height: 22.4px;
            letter-spacing: 0.5px;        
        }

        &__subtitle {
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 0.5px;
        }
    }
    .header_sticky { 
        .header {   
            padding-left: 0;
            padding-right: 0;
            height: 96px;

            &__whatsapp {
                height: 32px;

            }
        }
    }
}