
$bg-color: #EBEAE6;
$font-color-blue: #0A0A4A;
$active: #663E00;
$primary: #000036;
$text: #282836;
$light: #5D6E9F;
$medium: #3F5081;
$dark: #0D1E4F;
$disabled_text: #4B4B4B;
$header_underline: #A9A69E;
$about_underline: #9B9A96;
$about__scroll-stripe: #B9B9B9;
$about__scroll-stripe-dark: #373D4F;





