@import 'base/variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bg-color;
};

.container {    
    max-width: 1380px;
    margin: 0 auto;
};

.empty {    
    height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 30px;
}

@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/about';
@import 'blocks/stories';