.about {
    padding-top: 132px;  
    padding-bottom: 132px;
    &__item {
        display: flex;        
    }
    &__photo {
        display: block;
        width: 454px;
        height: 635px;
        border-radius: 36px;
    }
    &__info {
        position: relative;
        margin-left: 125px;
    }
    &__header {
        height: 85px;
        font-family: Raleway;
        font-size: 48px;
        font-weight: 300; // в макете
        letter-spacing: 0.2px;
        text-align: left;
        color: $primary;
    }
    &__divider {
        width: 569px;
        border-bottom: 1px solid $header_underline;
    }
    &__descr {
        margin-top: 34px;
        max-width: 569px;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0.62px;
        text-align: left;
        color: $text;
    }
    &__descr2 {
        margin-top: 16px;
    }  
    .swiper {
        --swiper-scrollbar-size: 8px;
        --swiper-scrollbar-border-radius: 4px;
        --swiper-scrollbar-bottom: 103px;
        &-scrollbar {
            width: 686px;
            background-color: $about__scroll-stripe;
            left: auto;
            right: 115px;
            &-drag {
                background-color: $about__scroll-stripe-dark;
            }
        }
        &-pagination {
            --swiper-pagination-bullet-border-radius: 0;
            --swiper-pagination-bullet-inactive-opacity: 1;            
            width: 686px;
            left: auto;
            right: 115px;
            bottom: 45px;
            display: flex;
            justify-content: space-around;
            &-bullet {
                width: 63px;
                height: 30px;
                display: flex;
                background: none;
                background-image: url(../icons/arrows.svg);
                background-size: 100% 100%;   
                &:hover {
                    transition: 0.3s all;
                    transform: scale(1.2); 
                    }
                    &:active {
                        transform: scale(1.4); 
                    } 
                .dot {
                    display: none;
                }    
                &-active {
                    .dot {                        
                        display: block;
                        width: 18.8px;
                        height: 21.21px;
                        margin: auto;
                        background-image: url(../icons/dot.svg);
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}