.cta {
    padding: 80px 0;
    background-color: $Dark_Grayish;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        column-gap: 32px; 
    }
    &__header {
        max-width: 674px;
    }
    h2 {
        line-height: 48px;
        color: $bg-color;
    }
    h3 {
        margin-top: 25px;
        max-width: 572px;
        color: $review_descr;
    }
    &__form {
        display:grid;
        grid-template-rows: 1fr 1fr 2fr; 
        row-gap: 32px;
        label.form {
            font-family: Roboto Slab;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            color: $bg-color;
        }
        input.string {
            margin-top: 16px;
            width: 570px;
            height: 56px;
            padding: 16px;
            border-radius: 8px;
            background-color: $bg-color;
            border: none;
            font-family: Roboto Slab;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1.25px;
            text-align: left;
            color: $text;   
            border: none;
            ::placeholder {
                color: $header_underline;                              
            }
            &:not(:placeholder-shown) {
                border: 3px solid $input_border;
            }
            &:focus {
                outline: 5px solid $input_border;
            }    
            &:invalid {
                outline: 1px solid $error;
                border: 1px solid $error;
                color: $error;
                background-image: url(../icons/input_error.svg);
                background-repeat:no-repeat;
                background-position: center right 16px;

                
            }
        }        
    }
    &__radio {
        margin-top: 16px;
        width: 570px;
        display: flex;
        justify-content: space-between;
        &-item {
            width: 227px; 
            display: flex;
            align-items: center;            
        }        
        input[type=radio] {
            appearance: none;

            height: 32px;
            width: 32px;
            border: 2px solid $bg-color;
            border-radius: 50%;
            &:checked {
                border-width: 6px;
                background-color: $light;
            }
        }
        label {
            margin-left: 16px;
            font-family: Roboto Slab;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 1.25px;
            text-align: left;
            color:$white;
        }
    }
    &__button {
        margin-top: 64px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        button {
            border: none;
            color: $Dark_Grayish;
            background-color: $Lightest;
        }
        div {
            max-width: 434px;
            margin-left: 16px;
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            color: $Lightest;
        }
    }

}