.header_sticky { 
    box-sizing: border-box;
    height: 137px;    
    // height: 136px; content-box
    position: sticky;
    top: 0;    
    border-bottom: 1px solid $header_underline;
    background-color: $bg-color;
    color: $logo-text-color;
    z-index: 2;
    .header {   
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        height: 136px;
        justify-content: space-between;
        align-items: center;
        &__whatsapp {
            display: flex;
            align-items: center;
        }
        &__whatsapp-number {
            padding-left: 5px;
            font-family: Roboto Slab;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0.5px;
            text-align: left;            
        }
    }
}


