.header {
    height: 136px;
    background-color: #EBEAE6;
    border-bottom: 1px solid #A9A69E;
    &__title {
        font-family: Philosopher;
        font-size: 26px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0.25px;
        text-align: left;
        color: #0A0A4A;
        ;
    }

    
    
    .container {    
        // display: flex;    
        // padding: 48px, 32px, 48px, 32px;
        // border-radius: 90px
        // justify-content: space-between;
    }

}