.hero {
    padding-top: 50px;  
    padding-bottom: 80px;
    &__wrapper {
        display: grid;
        grid-template-columns: auto min-content; 
        justify-content: space-between;
        column-gap: 2%;

    }
    &__frame40 {
        max-width: 580px;
    }
    &__title {
        margin-top: 35px;
        font-family: Raleway;
        font-size: 62px;
        font-weight: 300;
        line-height: 68px;
        letter-spacing: -0.5px;
        text-align: left;
        color: $primary;
        span {
            color: $active;
        }        
    }
    &__subtitle {
        margin-top: 28px;        
        color: $text
    }
    &__buttons {
        margin-top: 64px;  
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, min-content));
        gap: 8px;      
    } 
    &__mainfigure {
        border-radius: 36px;
        width: 720px; //подобрал    
        height: 565px; //подобрал    

        background-image: url(../images/main_figure.jpg);        
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
         //пробую затемнить исходную картинку, не совсем верно:
        background-color: $bg-color;
        background-blend-mode: multiply;

        font-family: Roboto Slab;
        font-weight: 400;
        text-align: left;   
        color: $primary;       

        .rounded_corner {
            position: relative;
            width: 50px;  //достаточно?
            height: 50px;
            overflow: hidden;    
            .shadow {
                position: absolute;
                width: 100px;  //достаточно?
                height: 100px;                
                box-shadow: 0px 0px 0px 30px $bg-color;
                border-radius: 36px 36px 36px 36px;
            }     
            &_bottom {
                align-self: flex-end;
                .shadow {
                    bottom:0;
                }
            }
            &_right {
                .shadow {
                    right:0;
                }
            }            
        }  
    }
    .mainfigure {  
        &__top {
            display: flex;
            justify-content: flex-start;
        }
        &__group1-bg {
            background-color: $bg-color;
            width: 427px;  //подобрал           
            height: 258px; //подобрал
            border-radius: 0 0 36px 0;
        } 
        &__group1 {
            width: 409px; //подобрал
            height: 242px;   //подобрал     
            border-radius: 36px 36px 16px 36px;
            border: 5px solid $dark;
            padding: 0 29px 0 39px;
            display: flex;
            align-items: center;            
            .text1 {             
                font-size: 79px; //подобрал
                line-height: 97px;
                letter-spacing: 1.8px; //подобрал                
            }
            .text2  {
                font-size: 20px;      
                line-height: 29px; 
            }
        }

        &__middle {
            height: 121px; //подобрал
            display: flex;
            justify-content: space-between;            
        }
        &__bottom {
           height: 186px; //подобрал
           display: flex; 
           justify-content: flex-end;
        }
        &__group2-bg {
            background-color: $bg-color;
             width: 283px;  //подобрал           
            border-radius: 36px 0 0 0;
        } 
        &__group2 {
            height: 170px;   //подобрал
            margin-top: 16px;
            margin-left: 16px;
            border-radius: 16px 36px 36px 36px;
            border: 5px solid $dark;
            padding: 0 12px ;
            display: flex;
            align-items: center;     
            .group2__text1 {
                // margin-top: 35px; //подобрал     
                // margin-left: 25px; //подобрал     
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 1px;
            }
            .group2__text2 {
                // margin-top: 8px; //подобрал
                // margin-left: 26px; //подобрал
                font-size: 65px; //подобрал
                line-height: 65px; //подобрал
                letter-spacing: 1.4px; //подобрал
            }
        }
    }
    &__lawreference {
        max-width: 600px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 2.15px;
        text-align: left;
        color: $disabled_text;
    }
}