.stories {
    background-color:$Dark_Grayish;
    .container {
        height: 276px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }       
    &__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145px;
        height: 190px;
        border: 5px solid $stories_border;       
        border-radius: 30px; 
    }
    &__content {
        width: 135px;
        height: 180px;
        border-radius: 20px;
        background-image: url(../images/oksana_2.jpg);        
        background-size: 160% auto;
        background-position: center center;
        background-repeat: no-repeat;        
    }
    &__text {
        font-family: Raleway;
        color: white;
        text-align: center;
        padding-top: 100px;
        font-weight: 700;
    }
}
