h2, .quiz__title {    
    font-family: Raleway;
    font-size: 48px;
    font-weight: 300; // в макете
    letter-spacing: 0.2px;
    text-align: left;
    color: $primary;
}

h3 { 
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
}

.logo {
    color: $logo-text-color;
    text-align: left;
    &__title {
        font-family: Philosopher;
        font-size: 26px;
        font-weight: 700;
        line-height: 29.12px;
        letter-spacing: 0.25px;
        
    }
    &__subtitle {        
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.75px;
        line-height: 21.6px;
    }
}
