@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/Philosopher-Bold.eot');
	src: local('Philosopher Bold'), local('Philosopher-Bold'),
		url('../fonts/Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Philosopher-Bold.woff') format('woff'),
		url('../fonts/Philosopher-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf');
	src: local('Lato 300'), local('Lato Light'),
		url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab.ttf');
	src: local('Roboto Slab'), local('Roboto Slab'),
		url('../fonts/RobotoSlab.ttf') format('truetype');
	/* font-weight: 300; */
	font-style: normal;
}